body {
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
  height: 100%;
}

/* hidden link to admin page */
#crud-link {
  display: none;
}

.col-md-3 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

/* replace with the width of the fixed left column */
.col-md-9 {
  margin-left: 25%;
}

/*isjungiu default skrolinimo juosta*/
::-webkit-scrollbar {
  width: 0px;
}

/*navigacija*/
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 248, 248, 0.949) !important;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .navbar.scrolled .navbar-collapse {
    margin-top: 0px;
  }

  .navbar-brand {
    margin-left: 150px;
  }

  .nav-link {
    margin-right: 15px;
  }
}

@media (max-width: 576px) {

  .akcijos a {
    left: 95px !important;
  }

  #categorys-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #categorys-container .col-md-12 {
    margin-top: 20px;
  }

  #categorys-container .col-md-12+.col-md-6 {
    order: 3;
  }

  #categorys-container .col-md-12 {
    order: 5;
  }
}

.navbar-text {
  margin-right: 150px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* X-offset, Y-offset, Blur radius, Shadow color */
}

@media (max-width: 1183px) {
  .navbar-nav {
    margin-right: 0px !important;
  }
}

@media (max-width: 1033px) {
  .navbar-nav {
    margin-right: 0px !important;
  }

  .nav-link {
    margin-right: 0px;
  }
}

@media (max-width: 991.98px) {
  .navbar-brand {
    margin-left: 15px;
    text-align: center;
    width: 100%;
    margin-top: -5px;
  }

  .call-icon {
    display: block !important;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-link {
    margin-right: 0;
    margin-left: auto;
  }

  .hide-navbar-toggler {
    display: none;
  }

  .navbar-nav {
    background-color: rgba(248, 248, 248, 0.949);
    float: right;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 10px;
  }

  .second-container {
    margin-right: 0 !important;
    text-align: center;
    padding: 0 15px 0 15px;
  }
}

@media (max-width: 991.98px) {
  .d-flex {
    justify-content: center !important;
  }

  .text-white {
    text-align: center !important;
    margin-right: 0 !important;
  }
}

/*icons*/
.bi-telephone {
  color: rgb(79, 79, 79);
  font-size: 1.25em;
}

.bi-envelope {
  color: rgb(79, 79, 79);
  font-size: 1.25em;
}

.bi-geo-alt {
  color: rgb(79, 79, 79);
  font-size: 1.25em;
}

@media (min-width: 992px) {
  .call-icon {
    display: none !important;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 15px !important;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(97, 97, 97);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 10px;
}

.carousel-inner {
  position: relative;
}

.carousel-image {
  object-fit: contain;
  height: 150px;
}

img:hover {
  cursor: zoom-in;
}

/*categoriju stiliai, category-container*/

.btn-primary-white {
  background-color: #f08435;
  color: #333;
  border-radius: 15px 15px 0 0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  outline: none !important;
  padding: 0px;
  position: absolute;
  top: -24px;
  left: 0;
  width: 200px;
  font-size: 15px;
  font-weight: bolder;
}

.btn-primary-white:hover {
  background-color: #f08435;
}

.card {
  border-radius: 0 15px 15px 15px !important;
}

.card-body-custom {
  border: none !important;
  font-size: 0.8em !important;
  background-color: #fafafa !important;
  padding: 6px;
}

.card-body {
  cursor: pointer !important;
}

.card-text-custom {
  margin-bottom: -3px;
  font-size: 1em;
}

.custom-container {
  width: 70% !important;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 2rem;
}

/* Media query for screens smaller than 800px in height */
@media (max-height: 800px) {
  .custom-container {
    height: 800px !important;
  }

  ;
}

/*category-container fix del aukscio mazuose ekranuose*/
@media only screen and (max-width: 767px) {
  #heightfix {
    min-height: 1440px;
  }

  .card {
    border-radius: 0 0 15px 15px !important;
  }

  .btn-primary-white {
    width: 100%;
  }

  .call a {
    color: red !important;
  }

  .akcijos a {
    left: 95px !important;
  }

  #categorys-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #categorys-container .col-md-12 {
    margin-top: 20px;
  }

  #categorys-container .col-md-12+.col-md-6 {
    order: 3;
  }

  #categorys-container .col-md-12 {
    order: 5;
  }
}

.row {
  margin-top: 0;
}

.col-md-6 {
  margin-bottom: 20px !important;
}

.card {
  border: none;
}

.card-footer {
  border: none;
}

.container.products_section.mb-5.products-margin {
  margin-top: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  width: 100%;
}

/*prodnav*/
.navbar-toggler {
  margin-top: -60px;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

/*filter sidebar*/

.sidebar-toggler {
  margin-top: 60px;
}

/* Define the animation */
@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(-2.5px);
  }
}

/* Apply the animation to the button */
.btn.sidebar-toggler {
  animation-name: bounce;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.form-select {
  width: 100%;
}

.offcanvas.offcanvas-start {
  width: 300px !important;
}

/*hower divs animation*/


.clickable-div {
  transition: transform 1s ease;
}

.clickable-div:hover {
  transform: scale(1.05);
  border-radius: 15px !important;
}

.clickable-div .btn {
  transition: transform 1s ease, border-radius 1s ease;
  transform: translate(0px, 0px);
}

.clickable-div:hover .btn {
  border-radius: 15px;
  transform: translate(0px, 24px);
}

.clickable-div .card {
  transition: border-radius 1s ease;
  border-radius: 0px;
}

.clickable-div:hover .card {
  border-radius: 15px!important;
}