body {
    background: linear-gradient(to bottom, #ffffff79, #ffffff);
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    height: 100%
}

/*isjungiu default skrolinimo juosta*/
::-webkit-scrollbar {
    width: 0px;
}

/*first main div*/

.btn {
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 6px 40px;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: grey;
}

.first-container {
    background-image: url('assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
}

.second-container {
    margin-right: 100px;
}

/*navigacija*/

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.949) !important;
    transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.navbar.scrolled .navbar-brand {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    margin-top: -7px;
}

.navbar.scrolled .nav-link {
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
    .navbar.scrolled .navbar-collapse {
        margin-top: 0px;
    }
}

@media (max-width: 991.98px) {
    .navbar.scrolled .navbar-collapse {
        margin-top: 10px;
    }
}

/*nav animacija*/
@keyframes heightChange {
    from {
        height: 80px;
    }

    to {
        height: 60px;
    }
}

.navbar.animated {
    animation: heightChange 0.3s ease-in-out;
}

.navbar.scrolled .navbar-collapse {
    margin-top: 0px;
}

@media (min-width: 992px) {
    .navbar.scrolled .navbar-collapse {
        margin-top: 0px;
    }

    .navbar-brand {
        margin-left: 150px;
    }

    .nav-link {
        margin-right: 15px;
    }

    .navbar-nav {
        margin-right: 150px;
    }
}

@media (max-width: 991.98px) {
    .navbar.scrolled .navbar-collapse {
        margin-top: 10px;
    }

    .navbar-brand {
        margin-left: 15px;
        text-align: center;
        width: 100%;
    }

    .nav-link {
        margin-right: 0;
        margin-left: auto;
    }

    .navbar-toggler {
        display: none;
    }

    .second-container {
        margin-right: 0 !important;
        text-align: center;
        padding: 0 15px 0 15px;
    }
}

@media (max-width: 991.98px) {
    .d-flex {
        justify-content: center !important;
    }

    .text-white {
        text-align: center !important;
        margin-right: 0 !important;
    }
}

/*categoriju stiliai, category-container*/

.btn-primary-white {
    background-color: #fff;
    color: #333;
    border-radius: 0;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    outline: none;
}

.btn-primary-white:hover {
    background-color: #000;
    color: #fff;
}

.card-body {
    border: none !important;
    border-radius: 0 !important;
}

.custom-container {
    width: 80%;
}

/*kategoriju stiliai*/

/*category-container fix del aukscio mazuose ekranuose*/
@media only screen and (max-width: 767px) {
    #heightfix {
        min-height: 1420px;
    }
}

.container.products_section.mb-5.products-margin {
    margin-top: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

/*naujausi produktai*/

#latest-products {
    padding-top: 60px;
    margin-bottom: 30px;
}