body {
    background: linear-gradient(to bottom, #b2d4fb79, #ffffff);
}

/* nav stilius */

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.949) !important;
    transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.navbar.scrolled .navbar-brand {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    margin-top: -7px;
}

.navbar.scrolled .nav-link {
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
    .navbar.scrolled .navbar-collapse {
        margin-top: 0px;
    }
}

@media (max-width: 991.98px) {
    .navbar.scrolled .navbar-collapse {
        margin-top: 10px;
    }
}

/* animacija */
@keyframes heightChange {
    from {
        height: 80px;
    }

    to {
        height: 60px;
    }
}

.navbar.animated {
    animation: heightChange 0.3s ease-in-out;
}

.navbar.scrolled .navbar-collapse {
    margin-top: 0px;
}

@media (min-width: 992px) {
    .navbar.scrolled .navbar-collapse {
        margin-top: 0px;
    }

    .navbar-brand {
        margin-left: 300px;
    }

    .nav-link {
        margin-right: 15px;
    }

    .navbar-nav {
        margin-right: 200px;
    }
}

@media (max-width: 991.98px) {
    .navbar.scrolled .navbar-collapse {
        margin-top: 10px;
    }

    .navbar-brand {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .nav-link {
        margin-right: 0;
        margin-left: auto;
    }

    .navbar-toggler {
        display: none;
    }
}

/* nav fix on scroll */

#nesiojami_kompiuteriai, #staliniai_kompiuteriai, #monitoriai, #kompiuteriu_priedai {
    padding-top: 80px; /* add 80px of padding to the top of the section */
    margin-top: -80px; /* offset the section by -80px to compensate for the added padding */
  }